/* phone or baseline views **************************/
main {
  max-width: 767px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 0.8rem;
  border: 1px solid #bbb;
  padding: 0 1rem;
  background-color: #536878;
}

h2 {
  color: #536878;
}